html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

:root {
    --primary-section-color: #fcf7ef;
    --primary-container-color: #E1E2DA;
    --secondary-white-heading: #ffffff;
    --secondary-color: #385f59;
    --accent-color: #d75d39;
}

.top-bar {
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 38px;
    width: 100%;
    max-width: 1350px;
}

.menu .menu-top {
    color: var(--secondary-white-heading);
    font-size: 1.6rem;
    font-weight: 400;
}

.search-bar {
    background: var(--primary-section-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search--bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    padding: 0 50px;
    margin: 0 0 0 4rem;
    width: 100%;
    max-width: 1400px;

}

.logo>img {
    width: 178px;
    height: 44px;
    flex-shrink: 0;
}

.search-menu {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    width: 30%;
    border-radius: 10px;
    border: solid 1px black;
}

/* .search {
    flex-grow: 1;
    padding: 0px 4px;
    border: none;
    outline: 0;
    font-size: 1.6rem;
    background: transparent;

} */
.search-menu input[type="text"] {
    flex-grow: 1;
    padding: 0px 4px;
    border: none;
    outline: 0;
    font-size: 1.6rem;
    background: transparent;
height: 15px;
width: 101px;
}

.contact {
    display: flex;
    margin-left: 1rem;
    gap: 0 1rem;
}

.contact>img {
    width: 21px;
    height: 21px;
    stroke-width: 2px;
    stroke: var(--secondary-color);
}

.contact-available {
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-top: 0;
    font-weight: 700;
}
.account-available {
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin-top: 3px;
    font-weight: 700;
}
.cart>img {
    width: 30px;
    height: 29px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: var(--secondary-color);
}

.lock{
    display: none;
    cursor: pointer;
}
.bar {
    display: none;
    cursor: pointer;
}
.lock-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.fb-btn1 {
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0;
}

.btn-call {
    display: flex;
    gap: 1rem;
    margin-bottom: -2rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0;
}

a {
    text-decoration: none;
}

.btn-acount img {
    width: 18px;
}

.btn-cart, .btn-acount {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0;  
    margin-bottom: -2rem;

}

.btn-cart img {
    width: 28px;
}

.catagory-top {
    background: var(--primary-section-color);
    border-top: 0.5px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.catagory {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.5rem;
    padding: 0 50px;
    width: 100%;
    max-width: 1310px;
}

.catagory-below h3 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 700;
}

.catagory-below>img {
    width: 12px;
    height: 6px;
    stroke-width: 2px;
    stroke: var(--secondary-color);
    margin-left: .3rem;
}

.catagory-below {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 171px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -3rem;
    height: 300px;
}

.dropdown-content a {
    color: var(--secondary-color);
    padding: 10.5px 16px;
    text-decoration: none;
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    transition: color .2s ease-in-out;
}
.dropdown-content a:hover{
    color: var(--accent-color);
}
.catagory-below:hover .dropdown-content {
    display: block;
}

.dropdownBtn {
    transform: translate(80px, -37px)
}

@media screen and (max-width: 480px) {
    .top-bar {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdownBtn {
        transform: translate(0px, 0px)
    }
    
    .menu .menu-top {
        font-size: 1.4rem;
    }

    .logo {
        margin-left: -4rem;
    }
    .lock-bar {
        margin-right: -3rem;
    }
    
}


.logo-section {
    background: var(--secondary-color);
    padding-bottom: 4rem;
}

.logo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0 2rem;
}

.logo1-heading {
    color: var(--secondary-white-heading);
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 0;
}

.logo1-content {
    color: var(--secondary-white-heading);
    font-size: 1.8rem;
    font-weight: 400;
}
.logo1-desc{
    color: var(--secondary-white-heading);
    font-size: 1.8rem;
    font-weight: 400;
}
.logo1-content:hover {
    color: var(--accent-color);
    transition: color 0.1s linear;

}
.footers-content {
    color: var(--secondary-white-heading);
    font-size: 1.8rem;
    font-weight: 400;
}

.logo1 input[type="email"]{
    width: 300px;
    height: 48px;
    padding: 0 2rem;
    border-radius: 120px;
    border: 1px solid var(--secondary-white-heading);
    background: transparent;
    outline: 0;
    color: var(--secondary-white-heading);
}
.logo1-mail::placeholder{
    color: var(--secondary-white-heading);
}

.btn-last {
    width: 350px;
    height: 48px;
    border-radius: 120px;
    background: #D75D39;
    color: var(--secondary-white-heading);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.logo1-social {
    display: flex;
    margin-top: 3rem;
}

.insta>img {
    width: 27px;
    height: 34px;
    margin-top: .9rem;
}

.app>img {
    margin-top: .9rem;
    margin-left: 2.2rem;
}

.nav-section {
    display: flex;
    gap: 0 5rem;
}

.nav {
    margin-top: 4rem;
}

.nav-heading {
    color: var(--secondary-white-heading);
    font-size: 2.8rem;
    margin-bottom: 0;
    font-weight: 700;
    margin-left: 3.5rem;
}

ul {
    list-style-type: none;
}

.links a li {
    color: var(--secondary-white-heading);
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2.1rem;
    transition: color 0.1s linear;
}
.links a li:hover {
    color: var(--accent-color);
}
.contacts {
    display: flex;
    flex-direction: column;
    margin-top: -7rem;
    margin-left: 4rem;
}

.same {
    display: flex;
    gap: 0 1.5rem;
    padding-top: 3rem;
}

.same img {
    width: 32px;
    height: 32px;
}

.fb-btn1 {
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0;
}

.fb-btn {
    transform: translate(20px, -8px);
}

.btn-location img {
    margin-top: -3rem;
}
.nav-contact-heading {
    color: var(--secondary-white-heading);
    font-size: 2.8rem;
    margin-bottom: 0;
    font-weight: 700;
  }
  
  .logo1-social {
    display: flex;
    margin-top: 3rem;
    margin-left: -3rem;
    gap: 1rem;
  }
@media screen and (max-width: 480px) {
    .nav-heading {
        font-size: 2.1rem;
        margin-left: 0;
    }
    .nav-contact-heading {
      font-size: 1.8rem;
      margin-left: 1rem;
    }
    .links{
      padding-left: 0;
    }
      .nav-section {
          gap:  7rem;
      }
      .nav {
        margin-top: 0rem;
      }
      .logo1-social {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        margin-right: 5rem;
        gap: 1rem;
    }
    
    
    .logo-content {
        flex-direction: column;
    }
    .footers {
        flex-wrap: wrap;
    }

    .footers-content {
        font-size: 1.4rem;
        margin: 1rem auto;
    }

    .footers img {
        margin: 1rem auto;
    }

    .contacts {
        margin-top: -2rem;
        margin-left: 0;
    }

    .nav-heading {
        font-size: 1.8rem;

    }

    ul>li {
        font-size: 1.4rem;

    }
    .links a li {
        font-size: 1.4rem;
        margin-top: 1.6rem;
    }
    .logo1-content {
        font-size: 1.6rem;
        margin-top: .4rem;
    }
    .logo1-desc {
        font-size: 1.6rem;
        margin-top: .4rem;
    }
}
  
  @media screen and (max-width: 480px) {
    .footers img{
        order: -1;
    }
    .footers-content{
        order: 1;
        font-size: 1.4rem;
        margin-top: .4rem;

    }
  }



  @media screen and (max-width: 480px) {
    .menu .top-1st {
        display: none;
    }

    .hidden {
        display: none;
    }

    .lock{
        display: block;
    }
    .bar {
        display: block;
        position: relative;
        cursor: pointer;
    }
    .dropdown-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 50%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
        margin-top: .7rem;
        padding: 1rem;
        width: 146px;
        border-radius: 10px;
    }
    .dropdown-links li {
        transition: color 0.3s;
    }

    .dropdown-links li:hover {
        color: var(--accent-color);
    }
    .bar-links{
        font-size: 1.8rem;
        color: var(--secondary-color);
        list-style-type: none;
       margin-top: 10px;
    }
    .catagory-top {
        display: none;
    }
 
    .lock.hidden,
    .bar.hidden {
        display: block;
    }
    
    .search-menu.hidden,
    .contact.hidden {
        display: none;
    }
    .dropdown-container {
        position: absolute;
        top: 180px; /* Adjust the top position based on your header height */
        right: 50%;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 1rem;
    }
    
    .dropdown-container.show {
        display: block;
    }
    .payment_methods {
       margin-left: 5rem;
    }
    .payment_methods {
        margin: 4px 0 6px 5rem;
    }
    .footers {
        flex-wrap: wrap;
    }
  }
  .footers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--accent-color);
    padding: 1rem 3rem;
    line-height: 14px;
  }
  .payment_methods {
    margin: 0px 0 6px 6rem;
    padding-top: 10px;
}
.payment_methods svg {
    padding-right: 4px;
    height: 30px;
    width: 48px;
}
svg:not(:root) {
    overflow: hidden;
}
.footers-content a{
    color: var(--secondary-white-heading);
    transition: color 0.1s linear;
}
.footers-content a:hover{
    color: var(--secondary-color);
}